.container{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   padding: 1%;
   /*Contenedor general, no meterle color de fondo*/
}
/*
.container-MV{
    background-color:#FFDD03;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000000;
    border-radius: 1cm;

    'Modificadores de los botones de misión y visión DE ANTES'
}
*/
.btn-default{
    background-color:#000000;
    color: #ffdd03;
    width: 350px;
    height: 77px;
    border-radius:1cm;
    border-color: #ffdd03;
    border-width: 5px;
    /*Modificadores de los botones de misión y visión ACTUALES*/
}

.container-valores{
}

#Separador{
    background-color:#000000;
    color:#FFFFFF;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    /*Separador conoce nuestra filosofía*/
}

#Separador-2{
    background-color:#FFDD03;
    color:#000000;
    border-radius: 1cm;


    display: flex;
    justify-content: center;
    align-items: center;
}

#Separador-3{
    background-color:#FFDD03;
    color:#000000;
    border-radius: 1cm;


    display: flex;
    justify-content: center;
    align-items: center;
}


.Imagenes{
    width: auto;
    height: auto;
    padding: 3%;
    margin: 0%;
    border-radius: 10%;
    
}

.Valores{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   padding: 1%;}

.Valores-texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   padding: 1%;}
.Impacto {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   padding: 1%;
}

.imagenesDesarrolladores{
    border-radius: 10%;
    margin: 0%;
}

.container-1{
    background-color: #FFDD03;
    color:#000000;
    border-radius: 1cm;
    width:auto;

}

.container-2{
    background-color: black;
    color:#FFFFFF;
    border-radius: 1cm;
    size-adjust: ;

}









