#Separador{
    background-color:gold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   padding: 1%;}

.container{
    background-color:beige;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   padding: 1%;}

.Imagenes{
    width: 620;
    height: 300;
    padding: 3%;
    margin: 10;
    
}

.Valores{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   padding: 1%;}

.Valores-texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   padding: 1%;}
.Impacto {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   padding: 1%;
}
#PiePagina{
    background-color: gold;
}


.texto_venta{
    background-color: gold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   padding: 1%;
}

#boton{
    text-align: center;
}

#plataforma_como_funciona{
    background-color:black;
    color: blanchedalmond;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   padding: 2%;
   width: 100%;
    height: 100%;
    margin: 0%;
    border-radius: 1cm;
}

#intruccion_1{
    background-color:gold;
    color:black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    width: 95%;
    height: 90%;
    margin: 5%;
    
}

#intruccion_2{
    background-color:black;
    color:aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    width: 95%;
    height: 80%;
    margin: 5%;+
}
    
#colaboradores{
    background-color:gold;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: 0%;
    width: auto;
    height: 20px;
    margin: 2%;+
}
.form-group{
    background-color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    width: 95%;
    height: 90%;
    margin: 0%;
    padding: 0%;
}
#formulario-titulo{
    background-color: gold;
    color:alic;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.itemCarrusel{
    height: 200px;
    position: relative;
}
.tarjetaCarrusel{
    background-color: black;
    height: 100%;

}
.flechasCarrusel{
    height: 100%;
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

#tarjetaCarrusel_1{
    background-color: gold;
    height: 100%;
}
#tarjetaCarrusel_2{
    background-color:gold;
    height: 100%;
}
#tarjetaCarrusel_3{
    background-color:gold;
    height: 100%;
}

#conteItemsCarrusel{
    height: 200px;
    overflow: hidden;
}
a{
    text-decoration:none ;
}

#imagenVende_1{
    height: 60%;
    width: 100%;
}