/* Estilos generales 

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Color de fondo 
}

.container {
    margin-top: 20px;
}

.sidebar {
    background-color: #fff; /* Color de fondo de la barra lateral 
    padding: 20px;
    border-radius: 10px;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.form-check-label {
    font-size: 16px;
}

.input-group {
    margin-bottom: 20px;
}

.category-images img {
    width: 100%;
    margin-bottom: 10px;
}

.card 
    border: none; /* Quita los bordes de las tarjetas 
    background-color: #fff; /* Color de fondo de las tarjetas 
    border-radius: 10px; /* Borde redondeado 
    margin-bottom: 20px; /* Espacio entre las tarjetas 
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 10px; /* Espaciado interno 
}

.card-text {
    font-size: 14px;
}

.category-images .card {
    margin-bottom: 20px; /* Espacio entre las tarjetas 
    border-radius: 10px; /* Borde redondeado 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Sombra suave 
}

.category-images .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.category-images .card-text {
    font-size: 14px;
    text-align: center; /* Centra el texto 
}


/* Estilos específicos para el diseño responsivo 

@media (min-width: 768px) {
    .sidebar {
        position: sticky;
        top: 20px;
        height: calc(100vh - 40px);
        overflow-y: auto;
    }

    .col-md-9 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .category-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col-2 {
        flex-basis: calc(20% - 10px); /* 20% con un margen de 10px entre las columnas 
    }
}
*/

.contenedor-filtro {
    background-color: #f0f0f0; /* Color de fondo del contenedor */
    border: 1px solid #ccc; /* Borde del contenedor */
    padding: 20px; /* Espacio interior del contenedor */
    width: 250px; /* Ancho del contenedor */
  }
  
  .filtro {
    margin-bottom: 15px; 
  }
  
  .categorias, .orden, .genero, .precios, .buscador {
    margin-bottom: 10px; 
  }
  
  .categorias ul, .genero ul {
    list-style: none; 
    padding: 0; 
  }
  
  .categorias li, .genero li {
    margin-bottom: 5px; 
  }
  
  .buscador input {
    width: 150px; 
  }
  
  .buscador button {
    margin-left: 5px;
    background-color: yellow; 
  }
  
  
  .contenedor {
    display: flex; 
  }
  
  .filtro {
    width: 200px; 
  }

  .card-img-top {
    width: auto; 
    height: 200px;  
    object-fit: cover;  
}

.card-body {
  border-radius: 100px;
}


.buscador input[type="text"],
.buscador button {
  border-radius: 10px;
}
.btn-container {
  text-align: right; /* Alinea el contenido a la derecha */
}

