.navbar-btn{
   background-color: #FFDD03 !important;
   border-radius: 30px !important;
   border: 0px !important;
   margin-left: 10px;
 
}

.navbar-btn:hover {
    background-color:#fbc403 !important;
    transform: scale(1.05);
    transition: transform .5s ease;
  }

.secondnav-btn{
    color: #231F20 !important;
    text-decoration: none;
    font-family: 'Rubik'  !important;
}

.btn-primary{
    background-color: #231F20 !important;
    color: #ffffff !important;
    font-family: 'Rubik'  !important;
    border-radius: 30px !important;
    border: 0px !important;
    text-decoration: none;
    transform: scale(1.00);
    transition: transform .5s ease;
    
    
}

.btn-primary:hover {
    background-color: black !important;
    transform: scale(1.05);
    transition: transform .5s ease;
  }